notebooks/notebooks/backup/*
notebooks/notebooks/Covid_M/*

covid19/static/result/*
covid19/static/source/*
covid19/test_images/*
covid19/flask_server/*
covid19/covid19_models/2/variables/*
covid19/models/*
covid19/scripts/*.h5
covid19/covid19_models/1/variables/*

covid-fastapi/static/result/*
covid-fastapi/static/source/*
covid-fastapi/test_images/*
covid-fastapi/flask_server/*
covid-fastapi/covid19_models/2/variables/*
covid-fastapi/models/*
covid-fastapi/scripts/*.h5
covid-fastapi/covid19_models/1/variables/*





